<p id="notice"><%= notice %></p>
<div class="create_post">
  <div>
    <span><%= @post.title %></span> (<%= @post.data %>)
  </div>
  <p>
    <%= @post.body %>
  </p>
  <p><b>Tags:</b>
    <%= join_tags(@post) %></p>
</div>

<h2 class="comments">Comments</h2>

<div class="create_post">
  <% @post.comments.each do |comment| %>
      <b>Date of comment:</b>
      <%= time_ago_in_words comment.created_at %>&nbsp;ago
      <b>Commenter:</b>
      <%= comment.commenter %>
      <% if comment.user_id == current_user.try(:id) %>
          <%= link_to 'Delete comment', [@post, comment], :method => :delete, :confirm => 'Are you sure?', :class => "btn btn-danger" %>
      <%end%>
      <div class='comment_body'><%= comment.body %></div>
      <br/>
  <% end %>
</div>

<hr/>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<% if @post.user_id == current_user.try(:id) %>
    <%= link_to 'Edit', edit_post_path(@post), {:class => "btn" } %> |
    <%= link_to 'Delete', @post, :method => :delete, confirm: 'Are you sure?', :class => "btn"  %> |
<% end %>
<%= link_to 'Back', posts_path, {:class => "btn" } %>