<p id="notice"><%= notice %></p>

<div class="field_post">
  <div class='title_post'>
    <%= @post.title %>&nbsp;(created&nbsp;<%= time_ago_in_words @post.created_at %> ago)&nbsp;
    <b>Author:</b>
  </div>
  <div class='body_post'>
    <%= truncate(@post.body, :length =>100) %>
  </div>
  <p>
    <b>Tags:</b>
    <%= join_tags(@post) %>
  </p>
  <div class='count_comment'>Count comment: </div>
</div>

<h2>Comments</h2>
<% @post.comments.each do |comment| %>
    <b>Date of comment:</b>
    <%= time_ago_in_words comment.created_at %>&nbsp;ago
    <b>Commenter:</b>
    <%= comment.commenter %>
    <%# if comment.user_id == current_user.id %>
    <%= link_to 'Delete comment', [@post, comment], :method => :delete, :confirm => 'Are you sure?', :class => "btn btn-danger" %>
    <%#end%>
    <div class='comment_body'><%= comment.body %></div>
    <br/>
<% end %>
 
<h2>Add a comment:</h2>
<%= render "comments/form" %>
<br/>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
