<!DOCTYPE html>
<html>
<head>
  <title>Firstblog</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="post">
<div class='head'>
  <div class="logo">Salut, Rubist!</div>
  <div class="box_regisrt">
    <% if user_signed_in? %>
        Signed in as <%= current_user.email  %>.
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class =>'btn' %>
    <% else %>
        <%= link_to "Sign up", new_user_registration_path, {:class =>'btn'} %> or <%= link_to "Sign in", new_user_session_path, {:class =>'btn'} %>
    <% end %>
  </div>
</div>
<div class='container' id="border">

  <div class="span10">
    <%= yield %>
  </div>
  <div class="span1" id="width_span1">
    <img src="/assets/ninja.jpg" alt="Rubist" />
    <h3>Item tags</h3>
  </div>

</div>
<div class='footer fbox'>
  MegaBlog 2013
</div>
</body>
</html>
